In [1]:
pwd

'C:\\Users\\Raf\\Documents\\R\\Algoritmos hechos por mi\\3. Regresion Logistica'

# Importando librerias

In [15]:
import numpy as np
import pandas as pd
import seaborn as sns
# Regresion Logistica
from sklearn.linear_model import LogisticRegression
import statsmodels.api as sn
import statsmodels.discrete.discrete_model as sm

In [3]:
df =pd.read_csv('./Archivos csv/Classification+preprocessed+data+Python.csv', header = 0)

In [4]:
df

,price,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks,Sold,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.19200,23,0.049347,0,4.0875,1,0,0,1
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.17280,42,0.046146,1,4.9675,0,1,0,0
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,46.19856,38,0.045764,0,4.9675,0,0,0,0
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.26720,45,0.047151,0,6.0650,1,1,0,0
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.28960,55,0.039474,0,6.0625,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,22.4,41.93,0.573,6.593,69.1,19.0,9.67,9.348,12.17920,27,0.056006,1,2.4775,0,0,1,0
502,20.6,41.93,0.573,6.120,76.7,19.0,9.08,6.612,13.16480,20,0.059903,1,2.2875,1,0,1,0
503,23.9,41.93,0.573,6.976,91.0,19.0,5.64,5.478,12.19120,31,0.057572,1,2.1675,0,0,0,0
504,22.0,41.93,0.573,6.794,89.3,19.0,6.48,7.940,15.17600,47,0.060694,1,2.3900,1,0,0,0
505,19.0,41.93,0.573,6.030,80.8,19.0,7.88,10.280,10.15200,45,0.060336,1,2.5050,1,0,0,0

# Regrsion Logistica

In [5]:
X = df[['price']]

In [6]:
y = df['Sold']

In [7]:
X.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [8]:
y.head()

0    0
1    1
2    0
3    0
4    0
Name: Sold, dtype: int64

In [9]:
clf_lrs = LogisticRegression()

In [10]:
clf_lrs.fit(X,y)

LogisticRegression()

In [11]:
clf_lrs.coef_

array([[-0.03571865]])

In [12]:
clf_lrs.intercept_

array([0.61477516])

In [13]:
X_cons = sn.add_constant(X)

In [14]:
X_cons.head()

   const  price
0    1.0   24.0
1    1.0   21.6
2    1.0   34.7
3    1.0   33.4
4    1.0   36.2

In [17]:
logit = sm.Logit(y,X_cons).fit()

Optimization terminated successfully.
         Current function value: 0.676690
         Iterations 5

In [18]:
logit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Sold   No. Observations:                  506
Model:                          Logit   Df Residuals:                      504
Method:                           MLE   Df Model:                            1
Date:                Fri, 11 Nov 2022   Pseudo R-squ.:                 0.01788
Time:                        15:24:45   Log-Likelihood:                -342.41
converged:                       True   LL-Null:                       -348.64
Covariance Type:            nonrobust   LLR p-value:                 0.0004142
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6149      0.248      2.484      0.013       0.130       1.100
price         -0.0357      0.010     -3.417      0.001      -0.056      -0.015
==============================================================================
"""